body{
    color: silver
}
.logo{
    height: 47px;
    width: 97px;
    position: relative; left: 13px;
}
.every{
    padding: 35px;
    border-radius: 20px;
}
.inn{
    position: relative; bottom: 27px;
    background: #000080;
    position: relative; right: 10px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255);
    color: rgba(255, 255, 255);
}
.upp{
    position: relative; bottom: 27px;
    background: #ffa500;
    padding: 7px;
    border-radius: 5px;
}
.hme{
    color: rgba(255, 255, 255);
    margin: 30px;
    text-decoration: none;
}
.hmu{
    text-decoration: none;
    color: #ffa500;
}
.logo{
    position: relative; bottom: 17px;
}
.sep{
    position: relative; bottom: 6px;
}
